[run]
source = .
omit = 
    */venv/*
    */migrations/*
    */__pycache__/*
    */tests.py
    */test_*.py
    manage.py
    */settings.py
    */wsgi.py
    */asgi.py
    */apps.py
    */admin.py
    */urls.py
    .venv/*
    */node_modules/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov